<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>de.cdslash.Passwords.iap.tip.tier1</string>
	<string>de.cdslash.Passwords.iap.tip.tier2</string>
	<string>de.cdslash.Passwords.iap.tip.tier3</string>
</array>
</plist>
